<div class="container">
  <h3 class="text-center">List Of Books</h3>
   <ul class="books-list">
      <li class="book" *ngFor="let book of books">
        <h3>{{book.title}}</h3>
        Author: {{book.author}} <br>
        ISBN: {{book.isbn}} <br>
        Format: {{formats[book.formatId]}} <br>
        Pages: {{book.pages}} <br>
        Price: {{book.price}}
      </li>
    </ul>
</div>
