<div class="form-wrapper">

  <form [formGroup]="bookForm" (ngSubmit)="addBook(bookForm.value)" *ngIf="!title; else forminfo">

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" formControlName="author" id="author">
    </div>
    <div class="alert" *ngIf="!bookForm.controls['author'].valid && bookForm.controls['author'].touched">This field is required and must contain anly letters be at least 2 characters long.</div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" formControlName="title" id="title">
    </div>
   <div class="alert" *ngIf="!bookForm.controls['title'].valid && bookForm.controls['title'].touched">This field is required and must contain anly letters be at least 2 characters long.</div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" formControlName="isbn" id="isbn">
    </div>
    <div class="alert" *ngIf="!bookForm.controls['isbn'].valid && bookForm.controls['isbn'].touched">This field is required, must contain only numbers and be 10 characters long. </div>
    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input class="form-control" formControlName="pages" id="pages">
    </div>
    <div class="alert" *ngIf="!bookForm.controls['pages'].valid && bookForm.controls['pages'].touched">This field is required, must contain only numbers and be greater than 1.</div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" (change)="onFormatSelect()" [(ngModel)]="selectedFormat" id="format">
        <option *ngFor="let format of formats" [ngValue]="format.id">{{format.name}}</option>
      </select>
      <div class="alert" *ngIf="!selectedFormat">{{errorMessage}}</div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>
    <div class="alert"*ngIf="!bookForm.controls['description'].valid && bookForm.controls['description'].touched">This field is required and must be at least 30 characters long.</div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" formControlName="price" id="price">
    </div>
    <div class="alert" *ngIf="!bookForm.controls['price'].valid && bookForm.controls['price'].touched">This field is required, must contain only numbers and be greater than 1.</div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" (change)="onContrySelect()" [(ngModel)]="selectedCountry" id="country">
        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
      </select>
      <div class="alert" *ngIf="!selectedCountry">{{errorMessage}}</div>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" name="city" [ngModelOptions]="{standalone: true}" (change)="onCitySelect()" [(ngModel)]="selectedCity" id="city">
        <option *ngFor="let city of cities" [ngValue]="city">{{city.name}}</option>
      </select>
      <div class="alert" *ngIf="!selectedCity">{{errorMessage}}</div>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" id="company" [ngModelOptions]="{standalone: true}" (change)="onCompanySelect()" [(ngModel)]="selectedCompany">
        <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option>
      </select>
      <div class="alert" *ngIf="!selectedCompany">{{errorMessage}}</div>
    </div>

    <button type="submit" class="btn btn-primary mt-4" [disabled]="!bookForm.valid || !countrySelected || !citySelected || !companySelected">Submit</button>

  </form>
</div>
<ng-template #forminfo>
  Book added:
  <hr>
  Author: {{author}} <br>
  Title: {{title}} <br>
  ISBN: {{isbn}} <br>
  Pages: {{pages}} <br>
  Format: {{formatId}} <br>
  Description: {{description}} <br>
  Price: {{price}} <br>
  Country: {{country}} <br>
  City: {{city}} <br>
  Company: {{companyId}} <br>
</ng-template>
